* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    
    
}header{
    display: flex;

   
    height: 230px;
    background-color: rgb(24, 23, 23);
}main{
  
    background-color: rgb(12, 11, 11);
    height: 600px;
}h1{
    font-size: 80px;
    
}h2{
    font-size: 30px;
}#headertext{


    padding: 90px;
   
   
    margin-left: 120px;
}