

body{

    
    
    margin: 0;
    background-color: #0c0b0b;
    
}header{
    display: flex;
    align-items: center;
    background-color: #311c1c;
    height: 120px;
    padding-right: 90px;

    border-radius: 5px;

}
header #nav{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 90px;
    

    border: #0c0b0b 2px solid;
}
header #nav a{
   
    text-decoration: none;
    color: #ffff;
    justify-self: end;
    margin-left: 50px;
    display: flex;
    
   
    border: #ffff 2px solid;
    
}
header #logo a{
    border: #baa6a6 2px solid;
    text-decoration: none;
    color: white;

}
header #logo{
    border: #cfdccd solid 2px;
    width: 100px ;
    margin-left: 100px;
  

}
main{
    display: flex;
    justify-content: space-between;
    height: 600px ;
    width: 1180px;
    margin-left:180px;

    border: #ffff 2px solid;
    

}main section{

    color: #695c5c;
    margin-left: 70px;
    border: #311c1c 2px solid;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}#hiText, #ImEljay, #WebDeveloper {
    margin: 0;    
    padding: 0;  
}

 
 
 
 
 #hiText{
    font-size: 65px;
    

    border: #695c5c 2px solid;
  
   
    
    
   

}#ImEljay{
    
    font-size: 65px;
    

    border: #695c5c 2px solid;


}#WebDeveloper{
  
    font-size: 65px;
    

    border: #423838 2px solid;
    
}#RightSide{
     
    display: flex;
    justify-content: center;

    width: 600px;
    height: 600px;

    border: #1c211b 2px solid;
    
}#RightSide a{
    display: flex;
    justify-content: center;
    
    width: 100px;
    align-items: center;

}img{
   
    justify-content: center;
    width: 400px;
    border-radius: 20px;
    
    
    
    height: 470px;
}